body
{
  text-align:center;
}
.mg{
  margin-top:53px;
  margin-bottom:70px;
}
.pd{
  padding:16px 270px 16px 17px;
}
.mgg{
  margin-bottom:13px;
}
.mggg{
  margin-bottom:26px;
}
.mgtop{
  margin-top:6px;
}
.mgtopp{
  margin-top:37px;
}
.mgtoppp{
  margin-top:103px;
}
.uLine{
  margin: 20px 0px 0px 0px;
  border-bottom:1px solid #bcbcbcbc;
}
